@import url(reset.css);
@import url(main-theme.css);

html {
    font-size: 10px;
    height: 100%;
}

/* Navbar Layout */

.navbar-wrapper, .wrapper {
    width: 100%;
}

.navbar-wrapper {
    position: fixed;
    background-color: var(--background-color);
    overflow: hidden;
    box-shadow: 0px 15px 60px -50px var(--shadow-blue); 
    z-index: 100;
}

.navbar, .main-content {
    max-width: 1920px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2.5px solid var(--navbar-line-color);
    padding-bottom: 4rem;
}

.navbar-contact-info {
    font-size: 1.8rem;
    font-family: var(--top-bar-font);
    font-weight: 600;
}

.navbar-contact-info ul li {
    float: left;
    margin-top: 3.7rem;
    margin-right: 7.7rem;
    text-decoration: none;
}

.logo-dentino {
    position: relative;
    top: 2rem;
    left: 8rem;
}

.navbar-menu {
    font-size: 2rem;
    font-family: var(--top-bar-font);
    padding-bottom: 10rem;
}

.navbar-menu-list li {
    position: relative;
    float: left;
    padding-right: 8rem;
    left: 37rem;
}

.navbar-menu-list {
    position: relative;
    top: 4.1rem;
}

/* Main Content Layout */

.wrapper {
    padding-top: 45rem;

}

/* Main Info Layout */

.main-info {
    display: flex;
    justify-content: center;
}

.main-title h1 {
    font-family: var(--title-font);
    font-weight: 800;
    font-size: 7rem;
    color: var(--title-color-blue);
    position: relative;
    left: 17.5rem;
    line-height: 9rem;
    bottom: 4rem;
}

.main-title-paragraph {
    font-family: var(--paragraph-font);
    font-size: 2rem;
    width: 50%;
    position: relative;
    left: 18.5rem;
    line-height: 4rem;
    color: var(--paragraph-black);
}

.main-title-btn-appointment {
    font-family: var(--title-font);
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
    left: 37rem;
    top: 4.5rem;
    margin-bottom: 16rem;
}

.main-title-btn-appointment a {
    font-family: var(--title-font);
    color: white;
    background-color: var(--btn-color);
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 5rem/5rem;
    padding: 1.6rem 6rem 2.4rem 6rem;
}

.main-title-our-services {
    display: flex;
    justify-content: center;
}

